<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="endPoint" value="https://mytimemanager.documents.azure.com:443/"/>
    <add key="primaryKey" value="xAgR5owAkEorvqOTQTX5x7zpuVlHnDlwMfaPKVwIOG7kFtRqysISrYIu5yRdY2kM34bOZg4BXk6AQ1PcfnAwnw=="/>
  </appSettings>
</configuration>